<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="logo-element">
            IN+
          </div>
        </li>
        <li class="active">
          <a href="layouts.html"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">


        <div class="navbar-header col-md-12">
          <div class="col-md-1">
            <a class="minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
          </div>

          <div class="form-group col-md-4 p-top-10">

            {{aupac-typeahead action=(action "updateSelected")
                              class='form-control'
                              source=bookSource
                              hint=false
                              minLength=3
                              limit=20
                              placeholder='Search for a book'}}


            <!--
                    <div *ngIf="typeaheadLoading===true">
                      <i class="glyphicon glyphicon-refresh ng-hide spin"></i>
                    </div>
                    <div *ngIf="typeaheadNoResults===true" class="" style="">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
            -->
          </div>
          <div class="form-group col-md-5 p-top-10">

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  Search By: {{searchCriteria}}
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">




                    {{#radio-button
                      radioId="author"
                      value="author"
                      groupValue=searchBy
                      changed="changeSearchCriteria"}}
                      <span class="p-right-5">Author:</span>
                    {{/radio-button}}

                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">

                    {{#radio-button
                      radioId="title"
                      value="title"
                      groupValue=searchBy
                      changed="changeSearchCriteria"}}
                      <span class="p-right-5">Title:</span>
                    {{/radio-button}}

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    {{#radio-button
                      value="year"
                      groupValue=searchBy
                      changed="changeSearchCriteria"}}
                      <span class="p-right-5">Year:</span>
                    {{/radio-button}}



                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="form-group col-md-2 p-top-10">
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <a href="#">
                  <i class="fa fa-sign-out"></i> Log out
                </a>
              </li>
            </ul>
          </div>

        </div>
      </nav>


    </div>
    <div class="row border-bottom white-bg dashboard-header" style="min-height:500px;">



{{#if showModal}}
  <div class="row text-center">
    <button {{action 'toggleModal'}}>Close Details</button>
  </div>
  <div class="row" style="padding:50px;border:1px solid #000;">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-5 col-sm-5">
        <img src={{detailCover}} />
      </div>
      <div class="col-md-7 col-sm-7 text-left">
        <div class="row">
          <h2>{{detailAuthor}}</h2>
        </div>
        <div class="row">
          <h3>Description: {{detailDescription}}</h3>
        </div>
        <div class="row">
          <h3>Published date: {{detailDate}}</h3>
        </div>
        <div class="row">
          <h3>ISBN: {{detailISBN}}</h3>
        </div>
      </div>
    </div>
  </div>

{{else}}
  <div class="col-md-12 col-sm-12" >
    {{models-table
      data=model
      columns=columns
      viewBook='viewBookDdetails'}}
  </div>

{{/if}}

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content">
          <strong>Copyright</strong> Rod Davis &copy; 2017
        </div>
      </div>
    </div>





  </div>
</div>

{{outlet 'modal'}}